{% extends 'base.html' %}

{% block conteudo %}
{% load static %}
<style>
  :root {
      --bs-secondary-color: 1E1E1E;
      --bs-secondary-color-rgb: 30, 30, 30;
        }
</style>

<div class="p-5 mb-2 bg-secondary text-white">
    <img src="{% static 'LOGO.png' %}" width="200" height="150" title="Logo">
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<nav>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">HOME</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">AUTORES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">TÍTULOS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  MAIS
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">FALE CONOSCO</a></li>
                  <li><a class="dropdown-item" href="#">PROFESSOR</a></li>
                  <li><a class="dropdown-item" href="#">IMPRESA</a></li>
                  <li><a class="dropdown-item" href="#">SOBRE A EDITORA</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="BUSQUE AQUI SEU PRODUTO" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">BUSCAR</button>
            </form>
          </div>
        </div>
      </nav>
</nav>
<h1>Store</h1>

<ul>
    {% for l in livro %}
        <li>{{ l }}</li>
    {% empty %}
        <li>Nenhum livro cadastrado</li>
    {% endfor %}
</ul>
{% endblock conteudo %}
<main>
    <table>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
        <tr>
            <td>Nome do livro</td>
            <td>Preço do livro</td>
        </tr>
    </table>
</main>

